services/billing-service/src/main/resources/invoices.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://univ.com/soa/billing/soap"
           targetNamespace="http://univ.com/soa/billing/soap"
           elementFormDefault="qualified">

    <xs:complexType name="soapInvoice">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="studentId" type="xs:long"/>
            <xs:element name="amount" type="xs:double"/>
            <xs:element name="status" type="xs:string"/>
            <xs:element name="createdAt" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="soapItem">
        <xs:sequence>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="price" type="xs:double"/>
            <xs:element name="quantity" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="createInvoiceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="studentId" type="xs:long"/>
                <xs:element name="items" type="tns:soapItem" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createInvoiceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="invoice" type="tns:soapInvoice"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getInvoiceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getInvoiceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="invoice" type="tns:soapInvoice" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllInvoicesRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllInvoicesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="invoice" type="tns:soapInvoice" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="payInvoiceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="payInvoiceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="invoice" type="tns:soapInvoice"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>